## Lab 4: Series and DataFrame

In [10]:
import pandas as pd

Create a Series with the following code:

In [11]:
titles = ['Dumb and Dumber To', 'Alien 3', 'Moonraker', 'Shall We Dance', 'Top Gun', 'Quantum of Solace', 'Wild Hogs', 'Apollo 13', 'Cloudy with a Chance of Meatballs 2', 'Hook', "Bridget Jones's Diary", 'Sense and Sensibility', 'Save the Last Dance', 'Finding Neverland', 'Life Is Beautiful', 'Les Miserables (2012)', 'Memoirs of a Geisha', 'Raiders of the Lost Ark (IMAX)', "A Knight's Tale", 'Where the Wild Things Are', 'Donnie Brasco', 'Star Trek', 'Dances with Wolves', 'Total Recall (2012)', 'Alexander', 'Sister Act', 'X-Men:First Class', 'My Big Fat Greek Wedding', 'Red', 'Shark Tale']
boxoffice = [169837010, 159814498, 210308099, 170128460, 356830601, 586090727, 253625427, 355237933, 274325949, 300854823, 281929795, 134582776, 131706809, 116766556, 229163264, 441809770, 162242962, 248159971, 117487473, 100086793, 124909762, 385680446, 424208848, 198467168, 167298192, 231605150, 353624124, 368744044, 199006387, 367275019]
bodf = pd.Series(boxoffice, index=titles)

`bodf` is a Series with 30 box office takes, with the movie names as the index.

In [12]:
bodf

Dumb and Dumber To                     169837010
Alien 3                                159814498
Moonraker                              210308099
Shall We Dance                         170128460
Top Gun                                356830601
Quantum of Solace                      586090727
Wild Hogs                              253625427
Apollo 13                              355237933
Cloudy with a Chance of Meatballs 2    274325949
Hook                                   300854823
Bridget Jones's Diary                  281929795
Sense and Sensibility                  134582776
Save the Last Dance                    131706809
Finding Neverland                      116766556
Life Is Beautiful                      229163264
Les Miserables (2012)                  441809770
Memoirs of a Geisha                    162242962
Raiders of the Lost Ark (IMAX)         248159971
A Knight's Tale                        117487473
Where the Wild Things Are              100086793
Donnie Brasco                          124909762
Star Trek                              385680446
Dances with Wolves                     424208848
Total Recall (2012)                    198467168
Alexander                              167298192
Sister Act                             231605150
X-Men:First Class                      353624124
My Big Fat Greek Wedding               368744044
Red                                    199006387
Shark Tale                             367275019
dtype: int64

**Questions**

- Write the code to return the first 7 rows of `bodf`.
- What is the average box office take in this sample of films, to the nearest dollar?
    - `254060295`
    - `230384207`
    - `248159971`
- Write the code to return just the movies that have made more than $250m.
- What does `bodf.cumsum()` do?
- How would you return the Box Office take for *Dances with Wolves*?
- What SQL clause is comparable to `bodf.sort_values()`?
- How would you sort `bodf` in descending order?

## DataFrame

Use the following code to read a CSV of fuel economies to a Dataframe.

In [13]:
mpg = pd.read_csv('http://vincentarelbundock.github.io/Rdatasets/csv/ggplot2/mpg.csv', index_col=0)

Here's what the data looks like:

In [14]:
mpg.head(5)

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

**Questions**:

- What is the code to select rows 5 to 10 of `mpg`?
- How would you select all rows with a class of 'midsize'?
- How would you select all rows with a class of 'midsize' and `hwy` economy of 24 miles per gallon?
    - Tips: You can split the answer into multiple steps - first select a smaller DataFrame based on one comparison, then select a smaller version of *that* DataFrame. Another way is to combine the criteria with `&` - but use brackets so that the computer knows the order of operations. i.e. mpg[(comparison1) & (comparison2)]
- What is the average city fuel economy for compact cars?
   - 16.9
   - 28.3
   - 23.4
   - 20.1
- Convert this SQL to the equivalent in Pandas:

```sql
SELECT model, manufacturer FROM mpg
WHERE year > 2005
ORDER BY hwy DESC
```

- Which car had the best city fuel economy in 1999?
    - Toyota Corolla
    - Nissan Altima
    - Volkswagen New Beetle
    - Toyota Camry Solara

- How many cars have a highway economy that's more than 10 MPG better on highways than in cities?

## Split Apply Combine - Initial Questions

**Questions**

- In plain English, what would I *split* on, and what type of code would I *apply* for the following questions:
    - Get the number of cars from each manufacturer.
    - Figure out how cylinders affect fuel economy.