<a href="https://colab.research.google.com/github/organisciak/Scripting-Course/blob/master/labs/04-Series-DataFrame-lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Lab Worksheet 4: Series and DataFrame

*Reminder - save your work. Go to* File > Save a Copy in Drive *to ensure that you have your work saved.*

In [0]:
#@markdown *Lab Checking Code*: This lab has some answers provided - run this code to download them.
!python -m pip install -q git+https://github.com/organisciak/Scripting-Course-Grading.git@master
from scripting_grading import grading, lab4
import pandas as pd

In [0]:
import pandas as pd

Create a Series with the following code:

In [0]:
titles = ['Dumb and Dumber To', 'Alien 3', 'Moonraker', 'Shall We Dance', 'Top Gun', 'Quantum of Solace', 'Wild Hogs', 'Apollo 13', 'Cloudy with a Chance of Meatballs 2', 'Hook', "Bridget Jones's Diary", 'Sense and Sensibility', 'Save the Last Dance', 'Finding Neverland', 'Life Is Beautiful', 'Les Miserables (2012)', 'Memoirs of a Geisha', 'Raiders of the Lost Ark (IMAX)', "A Knight's Tale", 'Where the Wild Things Are', 'Donnie Brasco', 'Star Trek', 'Dances with Wolves', 'Total Recall (2012)', 'Alexander', 'Sister Act', 'X-Men:First Class', 'My Big Fat Greek Wedding', 'Red', 'Shark Tale']
boxoffice = [169837010, 159814498, 210308099, 170128460, 356830601, 586090727, 253625427, 355237933, 274325949, 300854823, 281929795, 134582776, 131706809, 116766556, 229163264, 441809770, 162242962, 248159971, 117487473, 100086793, 124909762, 385680446, 424208848, 198467168, 167298192, 231605150, 353624124, 368744044, 199006387, 367275019]
bodf = pd.Series(boxoffice, index=titles)

`bodf` is a Series with 30 box office takes, with the movie names as the index.

In [0]:
bodf

Dumb and Dumber To                     169837010
Alien 3                                159814498
Moonraker                              210308099
Shall We Dance                         170128460
Top Gun                                356830601
Quantum of Solace                      586090727
Wild Hogs                              253625427
Apollo 13                              355237933
Cloudy with a Chance of Meatballs 2    274325949
Hook                                   300854823
Bridget Jones's Diary                  281929795
Sense and Sensibility                  134582776
Save the Last Dance                    131706809
Finding Neverland                      116766556
Life Is Beautiful                      229163264
Les Miserables (2012)                  441809770
Memoirs of a Geisha                    162242962
Raiders of the Lost Ark (IMAX)         248159971
A Knight's Tale                        117487473
Where the Wild Things Are              100086793
Donnie Brasco                          124909762
Star Trek                              385680446
Dances with Wolves                     424208848
Total Recall (2012)                    198467168
Alexander                              167298192
Sister Act                             231605150
X-Men:First Class                      353624124
My Big Fat Greek Wedding               368744044
Red                                    199006387
Shark Tale                             367275019
dtype: int64

**Questions**

- **Q1**: (*3pts*): Write the code to return the first 7 rows of `bodf`. (Make sure the cell output prints the rows.)

In [0]:
# Answer-Q1

In [0]:
#@markdown *Check your work - run this cell to see expected Q1 output*
lab4.L4_Q1_Answers().show_output()

In [0]:
#@markdown - **Q2**: (*3pts*) What is the average box office take in this sample of films, to the nearest dollar?
q2_answer = "" #@param ["", 254060295, 230384207, 248159971]

- **Q3** (*3pts*) Write the code to return just the movies that have made more than $250m.

In [0]:
# Answer-Q3

In [0]:
#@markdown *Check your work - run this cell to see expected Q3 output*
lab4.L4_Q3_Answers().show_output()

In [0]:
#@markdown - **Q4** (*3pts*) What does `bodf.cumsum()` do?
q4_answer = "" #@param {type: 'string'}

- **Q5** (*3pts*) Write the code to return the Box Office take for *Dances with Wolves*.

In [0]:
# Answer-Q5

In [0]:
#@markdown *Check your work - run this cell to see expected Q5 output*
lab4.L4_Q5_Answers.val_answers

In [0]:
#@markdown - **Q6** (*3pts*) What SQL clause is comparable to `bodf.sort_values()`?
q6_answer = "" #@param ["", "WHERE", "LIMIT", "ORDER BY"]

- **Q7** (*3pts*) Write the code to sort `bodf` in descending order.

In [0]:
# Answer-Q7

## DataFrame

Use the following code to read a CSV of fuel economies to a Dataframe.

In [0]:
mpg = pd.read_csv('http://vincentarelbundock.github.io/Rdatasets/csv/ggplot2/mpg.csv', index_col=0)
# renumber the index because the original data was peculiar
mpg = mpg.reset_index(drop=True)

Here's what the data looks like:

In [29]:
mpg.head(5)

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

**Questions**:

- **Q8** (*3pts*) Write the code to select a range of five rows starting with row 5 of `mpg` (Using Python parlance, where the 'row 5' is the 6th row in the data).

In [0]:
# Answer-Q8

In [0]:
#@markdown *Check your work - run this cell to see expected Q8 output*
lab4.L4_Q8_Answers().show_output()

- **Q9** (*4pts*) Write the code to select all rows with a class of 'midsize'.

In [0]:
# Answer-Q9

- **Q10** (*4pts*) Write the code to select all rows with a class of 'midsize' and `hwy` economy of 24 miles per gallon?
    - Tips: You can split the answer into multiple steps - first select a smaller DataFrame based on one comparison, then select a smaller version of *that* DataFrame. Another way is to combine the criteria with `&` - but use brackets so that the computer knows the order of operations. i.e. mpg[(comparison1) & (comparison2)]

In [0]:
# Answer-Q10

In [0]:
#@markdown *Check your work - run this cell to see expected Q8 output*
lab4.L4_Q10_Answers().show_output()

In [0]:
#@markdown - **Q11**: (*4pts*) What is the average city fuel economy for compact cars?
q11_answer = "" #@param ["", 16.9, 28.3, 23.4, 20.1]

- **Q12** (*6pts*) Convert this SQL to the equivalent in Pandas:

```sql
SELECT model, manufacturer FROM mpg
WHERE year > 2005
ORDER BY hwy DESC
```

In [0]:
# Answer-Q12

In [0]:
#@markdown - **Q13** (*6pts*) Which car had the best city fuel economy in 1999?
q13_answer = "" #@param ["", "Toyota Corolla", "Nissan Altima", "Volkswagen New Beetle", "Toyota Camry Solara"]

In [0]:
#@markdown - **Q14** (*6pts*) How many cars have a highway economy that's more than 10 MPG better on highways than in cities?
q14_answer = 0 #@param {type: 'number'}

## Split Apply Combine - Initial Questions

In [0]:
#@markdown - **Q15** In plain English, what would I *split* on, and what type of code would I *apply* for the following questions:
#@markdown    - **a** (*4pts*) Get the number of cars from each manufacturer.
#@markdown    - **b** (*4pts*) Figure out how cylinders affect fuel economy.

q15a_answer = "" #@param {type: 'string'}
q15b_answer = "" #@param {type: 'string'}

In [0]:
#@markdown **Q16** (13pt): Match the concept to the example of the concept.
#@markdown - a) Method
q16a_answer = "" #@param ["", "print()", "pd.read_csv()", "sep=' ', as in print(\"hello world\", sep=' ')", 3.1415, 42, [1, 2, 3], "WHERE", "SELECT * FROM heights;", ">", "SQLite", "Pandas", "Python", "_"]
#@markdown - b) Float
q16b_answer = "" #@param ["", "print()", "pd.read_csv()", "sep=' ', as in print(\"hello world\", sep=' ')", 3.1415, 42, [1, 2, 3], "WHERE", "SELECT * FROM heights;", ">", "SQLite", "Pandas", "Python", "_"]
#@markdown - c) Programming Language
q16c_answer = "" #@param ["", "print()", "pd.read_csv()", "sep=' ', as in print(\"hello world\", sep=' ')", 3.1415, 42, [1, 2, 3], "WHERE", "SELECT * FROM heights;", ">", "SQLite", "Pandas", "Python", "_"]
#@markdown - d) SQL Statement
q16d_answer = "" #@param ["", "print()", "pd.read_csv()", "sep=' ', as in print(\"hello world\", sep=' ')", 3.1415, 42, [1, 2, 3], "WHERE", "SELECT * FROM heights;", ">", "SQLite", "Pandas", "Python", "_"]
#@markdown - e) Logical Operator
q16e_answer = "" #@param ["", "print()", "pd.read_csv()", "sep=' ', as in print(\"hello world\", sep=' ')", 3.1415, 42, [1, 2, 3], "WHERE", "SELECT * FROM heights;", ">", "SQLite", "Pandas", "Python", "_"]
#@markdown - f) List
q16f_answer = "" #@param ["", "print()", "pd.read_csv()", "sep=' ', as in print(\"hello world\", sep=' ')", 3.1415, 42, [1, 2, 3], "WHERE", "SELECT * FROM heights;", ">", "SQLite", "Pandas", "Python", "_"]
#@markdown - g) Named Argument
q16g_answer = "" #@param ["", "print()", "pd.read_csv()", "sep=' ', as in print(\"hello world\", sep=' ')", 3.1415, 42, [1, 2, 3], "WHERE", "SELECT * FROM heights;", ">", "SQLite", "Pandas", "Python", "_"]
#@markdown - h) Integer
q16h_answer = "" #@param ["", "print()", "pd.read_csv()", "sep=' ', as in print(\"hello world\", sep=' ')", 3.1415, 42, [1, 2, 3], "WHERE", "SELECT * FROM heights;", ">", "SQLite", "Pandas", "Python", "_"]
#@markdown - i) SQL Clause
q16i_answer = "" #@param ["", "print()", "pd.read_csv()", "sep=' ', as in print(\"hello world\", sep=' ')", 3.1415, 42, [1, 2, 3], "WHERE", "SELECT * FROM heights;", ">", "SQLite", "Pandas", "Python", "_"]
#@markdown - j) LIKE wildcard
q16j_answer = "" #@param ["", "print()", "pd.read_csv()", "sep=' ', as in print(\"hello world\", sep=' ')", 3.1415, 42, [1, 2, 3], "WHERE", "SELECT * FROM heights;", ">", "SQLite", "Pandas", "Python", "_"]
#@markdown - k) DBMS
q16k_answer = "" #@param ["", "print()", "pd.read_csv()", "sep=' ', as in print(\"hello world\", sep=' ')", 3.1415, 42, [1, 2, 3], "WHERE", "SELECT * FROM heights;", ">", "SQLite", "Pandas", "Python", "_"]
#@markdown - l) Function
q16l_answer = "" #@param ["", "print()", "pd.read_csv()", "sep=' ', as in print(\"hello world\", sep=' ')", 3.1415, 42, [1, 2, 3], "WHERE", "SELECT * FROM heights;", ">", "SQLite", "Pandas", "Python", "_"]
#@markdown - m) Library
q16m_answer = "" #@param ["", "print()", "pd.read_csv()", "sep=' ', as in print(\"hello world\", sep=' ')", 3.1415, 42, [1, 2, 3], "WHERE", "SELECT * FROM heights;", ">", "SQLite", "Pandas", "Python", "_"]

#@markdown *Run this cell to doublecheck that you used all the responses.*
response_options = ["", "print()", "pd.read_csv()", "sep=' ', as in print(\"hello world\", sep=' ')", 3.1415, 42, [1, 2, 3], "WHERE", "SELECT * FROM heights;", ">", "SQLite", "Pandas", "Python", "_"]
responses = [q16a_answer, q16b_answer, q16c_answer, q16d_answer, q16e_answer, q16f_answer, 
            q16g_answer, q16h_answer, q16i_answer, q16j_answer, q16k_answer, q16l_answer, q16m_answer]
diff = set([str(a) for a in response_options]).difference([str(a) for a in responses])
if len(diff) > 0:
  print("You haven't used the following possible responses:")
  print(diff)

#@markdown *To check if your answer is correct - talk to your classmates!*

# Submission Instructions

In [0]:
#@markdown ### First, Enter your name for grading
my_name = "" #@param { type:'string' }

#@markdown _Have you saved your work for yourself? Don't forget to Save a Copy in Drive so that you have your progress._

#@markdown ### Second, check your work:

#@markdown - have you answered all the questions?
#@markdown - Does this notebook run from top to bottom?
#@markdown     - Go to "Runtime > Restart and run all..." to check. Do all the cells run, to the very bottom, or is there a cell in the middle with an error?
#@markdown - Have you completed all the answers where you entered code, keeping the `# Answer-Qx` line at the start of those cells?

#@markdown *A lab that the professor has to fix manually will lose 10pts - doublecheck!*

#@markdown ### Finally, submit it.

#@markdown - Download the file with "File > Download .ipynb" and submit it to the Canvas assignment page.