## Lab 5: Split Apply Combine

In [2]:
import pandas as pd

### Movie Dataset Questions

In [72]:
ratings = pd.read_csv('https://raw.githubusercontent.com/organisciak/Scripting-Course/master/data/movielens_small.csv')
ratings.sample(10)

,userId,rating,title,genres,timestamp,year
58891,580,3.0,Men in Black II (a.k.a. MIIB) (a.k.a. MIB 2),Action,1165900423,2002
89260,547,3.5,Night on Earth,Comedy,1053172004,1991
62313,294,3.5,"Aviator, The",Drama,1123972992,2004
38937,73,0.5,Free Willy 2: The Adventure Home,Adventure,1255587428,1995
38336,285,4.0,Analyze This,Comedy,965092333,1999
95591,547,4.0,Oklahoma!,Musical,1084413859,1955
51374,617,3.0,"Faculty, The",Horror,944893444,1998
72589,564,5.0,Carrie,Drama,974708813,1976
97949,468,4.0,"Man in the White Suit, The",Comedy,1296194677,1951
1515,267,4.0,"Usual Suspects, The",Crime,1175984023,1995

** Questions **

- Write the code to determine the median rating by each user.
- Using groupby, write the code to count how many ratings there are in each genre.
- The previous question can be answered without `groupby`. How?
    - a) `ratings.genres.unique()`
    - b) `ratings['genres'].value_counts()`
    - c) `ratings[['genres']].value_counts()`
    - d) `ratings[['genres']].unique()`
- Which genre has the worst average ratings?
    - a) Horror
    - b) Film-Noir
    - c) Mystery
    - d) Sci-Fi
- Select the three most out-of-vogue film genres, by median release year:
    - Crime
    - Documentary
    - Film-Noir
    - Musical
    - Children
    - Adventure
    - War
- Which film since 2011 has the most deviation among ratings?
    - The Heat
    - Twilight Saga: Breaking Dawn
    - The Secret Life of Pets
    - Drinking Buddies
- Get all the unique combinations of title+year. Submit the code.
- Run `ratings['movie']`. What does the error mean?
- What does the error message mean for the following code:
`ratings['new_column'] = ratings[ratings.genres == 'Drama']` ?
- Find all titles that refer to multiple movies released in different years. Share your code.

## Input / Output

- For the movie data: write the code to save a CSV of year/title/mean_rating.

- Write the code to open our book circulation database from two weeks ago, and retrieve information on patrons that are at least 18 years old as a DataFrame.

- For patrons over 18 years old, what is the most common city?
    - Thomasmouth
    - New Hannah
    - Michelefurt
- Write the code to determine the author with the most books checked out. Tip: remember joins!
- Write the code to retrieve the list of songs recorded by the Beatles from Wikipedia.

## Is In

Not all selection is done with logical operators. One useful method for a `Series` is `isin()`.

`isin()` takes a list or collection of values, and returns True/False for whether each item in the Series is in that set of values. Remember that DataFrame columns are Series'.

Example: Find movies where the genre is one of the following: Drama, Action, Sci-Fi.

In [66]:
sample = ratings.sample(10)
sample

,userId,rating,title,genres,timestamp,year
79663,529,4.0,Coming Home,Drama,959964947,1978
7622,168,3.0,Ghost,Comedy,848866683,1990
58755,379,3.5,"Bourne Identity, The",Action,1378180358,2002
63046,388,3.5,"Da Vinci Code, The",Drama,1167703367,2006
43869,157,2.5,Hot Shots! Part Deux,Action,1292452011,1993
42950,602,4.0,Devil in a Blue Dress,Crime,842357664,1995
93611,624,2.0,Colombiana,Action,1350761819,2011
62431,380,3.5,"Hitchhiker's Guide to the Galaxy, The",Adventure,1142815839,2005
75285,350,5.0,No Man's Land,Drama,1026761849,2001
69780,355,2.5,"Village, The",Drama,1130107001,2004

In [67]:
sample.genres.isin(['Action', 'Drama', 'Sci-Fi'])

79663     True
7622     False
58755     True
63046     True
43869     True
42950    False
93611     True
62431    False
75285     True
69780     True
Name: genres, dtype: bool

In [68]:
sample[sample.genres.isin(['Action', 'Drama', 'Sci-Fi'])]

       userId  rating                 title  genres   timestamp  year
79663     529     4.0           Coming Home   Drama   959964947  1978
58755     379     3.5  Bourne Identity, The  Action  1378180358  2002
63046     388     3.5    Da Vinci Code, The   Drama  1167703367  2006
43869     157     2.5  Hot Shots! Part Deux  Action  1292452011  1993
93611     624     2.0            Colombiana  Action  1350761819  2011
75285     350     5.0         No Man's Land   Drama  1026761849  2001
69780     355     2.5          Village, The   Drama  1130107001  2004

*Question*

Practice using `isin()` yourself, then try the following bigger question:
    
- Write the code to select all ratings by the 10 most prolific users.

Tip:

Step by step, consider what you need to do. At the end, you'll want

`ratings[ratings.userId.isin(top_users)]`

So the question is: how do you get the list of user ids that make up the `top_users` variable? `top_users` can be a series.