# Lab 6 - Part 1

This week's lab will be submitted in two weeks, combined with next week's lab.

As we move toward your final projects, we're also practicing our 'figure out new stuff' skills. Remember the high level tips: look at documentation in Jupyter, try auto-fill to see what methods exist, search Google, search Stack Overflow, and read the documentation for the library (i.e. at http://pandas.pydata.org/).

In [1]:
import pandas as pd
%matplotlib inline

## Dataset #1: Life Expectancy By Year, Race, Gender

Load this CDC dataset, _Death rates and life expectancy at birth_. Details about the dataset are at [Data.gov](https://catalog.data.gov/dataset/age-adjusted-death-rates-and-life-expectancy-at-birth-all-races-both-sexes-united-sta-1900).

In [2]:
data = pd.read_csv('https://data.cdc.gov/api/views/w9j2-ggv5/rows.csv?accessType=DOWNLOAD')
# Rename columns to something shorter
data = data.rename(columns={"Average Life Expectancy (Years)": "LifeExp", "Age-adjusted Death Rate": "DeathRate"})
data.sample(10)

     Year       Race         Sex  LifeExp  DeathRate
810  1901      White  Both Sexes     49.4     2456.2
655  1940      Black        Male     51.5     2458.9
322  1925  All Races        Male     57.6     2178.0
344  1903  All Races        Male     49.1     2513.5
362  2001      Black  Both Sexes     72.0     1106.2
491  1988      Black      Female     73.2     1005.4
180  1951  All Races      Female     71.4     1213.4
249  1998  All Races        Male     73.8     1068.9
658  1937      Black        Male     48.3     2596.1
894  1933      White      Female     66.3     1649.4

**Questions**

![Life Expectancy](../images/lifeexpectancy.png)

- Which Race+Gender is represented in the above plot:
  - Black / Male
  - White / Both Sexes
  - White / Female  (or the similar looking All Races / Female)
  - Black / Both Sexes
  
- Write code to recreate the above plot, but giving the plot a sensible title, like below. This will require a skill not mentioned in class.

![](../images/lifeexp2.png)

- Modify the above code to add a y-axis label, *Life Expectancy (Years)*. You can't change the axis labels within `plot()`. However, you can set the output of a `plot()` method to a variable, and that variable will have a method to *set* the *y-axis*.


- Write the code to plot a histogram of the life expectancy values across all conditions and years.

- Which Race+Sex group had the lowest life expectancy, and in what year?
  - Black Male in 1907
  - Black Female in 1918
  - Black Male in 1904
  
- To one precision point (e.g. XX.X), fill in the blanks:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>LifeExp</th>
    </tr>
    <tr>
      <th>Race</th>
      <th>Sex</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="3" valign="top">All Races</th>
      <th>Both Sexes</th>
        <td><bold>BLANK</bold></td>
    </tr>
    <tr>
      <th>Female</th>
      <td>69.2</td>
    </tr>
    <tr>
      <th>Male</th>
      <td>64.0</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">Black</th>
      <th>Both Sexes</th>
      <td>58.4</td>
    </tr>
    <tr>
      <th>Female</th>
      <td>61.0</td>
    </tr>
    <tr>
      <th>Male</th>
      <td><bold>BLANK</bold></td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">White</th>
      <th>Both Sexes</th>
      <td>67.3</td>
    </tr>
    <tr>
      <th>Female</th>
      <td><bold>BLANK</bold></td>
    </tr>
    <tr>
      <th>Male</th>
      <td>64.8</td>
    </tr>
  </tbody>
</table>

- In point-form steps, how might you get average life expectancy by decade for All Races / Both Sexes? I'm interested in how you think through the solution - code is optional.

- Read the Seaborn documentation for FacetGrid (docs at https://seaborn.pydata.org/), and write the code to mimic the following chart. (Note, the lines will look different: I modified the data here so that it doesn't give away an earlier answer).
![](../images/../images/facetgrid-lineplot.png)