# Lab 9: Regular Expressions

In [1]:
import re
import pandas as pd

Here is a synopsis of the best film of our time, *Paddington*:

In [3]:
synopsis = '''After a deadly earthquake destroys his home in Peruvian rainforest, a young bear (Ben Whishaw) makes his way to England in search of a new home. The bear, dubbed "Paddington" for the london train station, finds shelter with the family of Henry (Hugh Bonneville) and Mary Brown (Sally Hawkins). Although Paddington's amazement at urban living soon endears him to the Browns, someone else has her eye on him: Taxidermist Millicent Clyde (Nicole Kidman) has designs on the rare bear and his hide.'''
print(synopsis)

After a deadly earthquake destroys his home in Peruvian rainforest, a young bear (Ben Whishaw) makes his way to England in search of a new home. The bear, dubbed "Paddington" for the london train station, finds shelter with the family of Henry (Hugh Bonneville) and Mary Brown (Sally Hawkins). Although Paddington's amazement at urban living soon endears him to the Browns, someone else has her eye on him: Taxidermist Millicent Clyde (Nicole Kidman) has designs on the rare bear and his hide.

For these questions, use `re.findall(pattern, text)`, like so:

In [4]:
re.findall('[A-Z]....\s', synopsis)

['After ', 'Henry ', 'Brown ', 'Sally ', 'Clyde ']

## *About this week's lab*

The quiz-style lab submission is an ill-fit for evaluating these skills. For this lab, upload your notebooks, and I'll run them!

- complete the questions in a copy of this notebook
- assign your answer to the variable in the cell that has `# Answer` written. Feel free to create new cells to work, but keep keep the answer cells.
- Before submitting, doublecheck that everything runs! Go to `Kernel > Restart and Run All` to confirm.
- submit the `ipynb` file in Canvas.

### Example Question

- Q0.0: Write the regular expression to find all three or four-letter words:

In [5]:
# My personal workspace
re.findall('\s\w\w\w\w?\s', synopsis)

[' his ',
 ' bear ',
 ' his ',
 ' new ',
 ' The ',
 ' for ',
 ' with ',
 ' and ',
 ' soon ',
 ' him ',
 ' the ',
 ' else ',
 ' her ',
 ' has ',
 ' the ',
 ' bear ',
 ' his ']

In [6]:
# Answer
answer00_pattern = '\s\w\w\w\w?\s'

## Questions #1: Matching Characters (20 pts)

- Q1.1: Write a regular expression to match all three-character words surrounded by spaces. (5pts)

In [ ]:
answer00_pattern = '\s\w\w\w\w?\s'

In [ ]:
# Answer
answer11_pattern =

- Q1.2: Write a regular expression to match all three-character words, allowing for instances like `(Ben` and `him:`.  (5pts)

In [ ]:
# Answer
answer12_pattern =

- Q1.3: How many times does the word `the` or `The` show up?  (5pts)

In [ ]:
# Answer
answer13_number =

- Q1.4: Write a regular expression to find the context at the end of a sentence: the five characters leading up to the period. Results should be `[' home.', 'kins).', ' hide.']`  (5pts)

In [ ]:
# Answer
answer14_pattern =

## Questions #2: Repeating Patterns (36 pts)

*Full Reference*

**Matching characters**
- `a` - Match the letter `a`. Same for most other characters
- `.` - Match any single character
- `\w` - Match any word character (letters, number... support for non-English characters varies)
- `\W` - Match any non-word characters
- `\d` - Match any digit
- `.` - Matches *any* character
- `\.` - Matches a literal period (or `\\` matches literal backslash, `\(` matches literal parenthesis, etc)
- `\s` - Match any whitespace character (space, tabs, line breaks sometimes)

**Multiple Matches**
- `[ab]` - Group of multiple possible characters - in this case `a` or `b`
- `[a-z]` matches any character from a to z
- `[A-Z]` matches any character from A to Z
- `[A-Zab]` matches any character from A to Z (`A-Z`), *or* `a` *or* `b`

**Repeating**

*'greedy' means that it captures as much as it can, 'lazy' means it captures as little as possible.*
`?` - One or zero of the preceding match
- `+` - One or more of the preceding match (greedy)
- `*` - Zero or more of the preceding match (greedy)
- `*?`, `+?`  - Lazy versions of `*` and `+`

**Position**
- `^` - Start of line
- `$` - End of line

*Questions*

- Q2.1: Write the expression that creates the following matches: `['. The', '. Although']` (6 pts)

In [ ]:
# Answer
answer21_pattern =

- Q2.2: Write the expression to match the two words following the word `a`. The results should be `['a deadly earthquake', 'a young bear', 'a new home']` (6 pts)

In [ ]:
# Answer
answer22_pattern =

- Q2.3: Write the expression to match all words with an `'s`. In this case, `Paddington's` is the only match.  (6 pts)

In [ ]:
# Answer
answer23_pattern =

- Q2.4: Write the expression to match all values in parentheses. The results should be `['(Ben Whishaw)', '(Hugh Bonneville)', '(Sally Hawkins)', '(Nicole Kidman)]'` (6 pts)

In [ ]:
# Answer
answer24_pattern =

- Q2.5: Write the expression to match all capitalized words, including `Paddington's`. (6 pts)

In [ ]:
# Answer
answer25_pattern =

- Q2.6: Write the expression to match all pairings of capitalized words, like `Mary Brown` and `Although Paddington`. (6 pts)

In [ ]:
# Answer
answer26_pattern =

## Other Python Regular Expression Functions

**Replace a pattern**:
    
```
re.sub(pattern, repl, string)
```

This replaces the pattern matches with whatever string you provide to `repl`.

**Check a match**:
    
```
regex.search(string)
```

This doesn't return anything if there are no matches, so it's useful for asking, "is there a match or not?"

## Pandas

Load the following data into a DataFrame, containing the tweets of Lord_Voldemort7:

In [8]:
tweets = pd.read_csv('https://raw.githubusercontent.com/organisciak/Scripting-Course/master/data/voldemort_tweets.csv')
tweets.head()

,id,favourites,retweets,created_at,text,is_quoted
0,903664289411686400,1921,556,2017-09-01 17:02:10,#19YearsLater #BackToHogwarts,False
1,901217559860703234,2556,934,2017-08-25 22:59:44,"""I rose up from the dead, I do it all the time...",False
2,879505014422740994,3879,1578,2017-06-27 01:01:50,#HarryPotter20 There will always be magic.,False
3,818293342622650368,737,169,2017-01-09 03:08:30,Hermione tries to play Quidditch but hits her ...,False
4,815434344357625856,2719,1012,2017-01-01 05:47:52,2016 was channeling The Little Mermaid and end...,False

String actions on a DataFrame column (that is, a Series) are accessed with:

```
df['columnName'].str
```

For matching on regular expressions, you can use `.str.contains()`. For examples:

In [9]:
matches = tweets.text.str.contains('dead')
tweets[matches]

,id,favourites,retweets,created_at,text,is_quoted
1,901217559860703234,2556,934,2017-08-25 22:59:44,"""I rose up from the dead, I do it all the time...",False
158,485447695797342208,2452,1860,2014-07-05 15:38:44,"You thought they were fireworks, America, but ...",False
476,356617010102276096,949,1221,2013-07-15 03:31:35,'Harry Potter' is the #1 Worldwide Trending To...,False
549,331832894916026369,440,802,2013-05-07 18:08:21,If looks could kill then my body would be a de...,False
576,325320048459784192,280,506,2013-04-19 18:48:38,Perhaps news outlets/reporters/blogs should st...,False
630,318112066038812672,2675,5703,2013-03-30 21:26:41,'Happy Easter' is a TT. So when I rise from th...,False
706,303184749021757440,1577,3621,2013-02-17 16:50:51,Yo mum is so ugly that when a basilisk looked ...,False
721,300324033327661056,1592,3431,2013-02-09 19:23:23,#ThingsYouShouldntDo: Tell Harry Potter that y...,False
762,290634984979574784,2880,6569,2013-01-14 01:42:34,When you wish upon a star you are actually a f...,False
997,254647981960212481,1326,4293,2012-10-06 18:23:04,#HarryPotterPickupLines Did you survive the Av...,False
1473,201347612161482752,529,1179,2012-05-12 16:26:26,"""Happy Mother's Day"" is trending. My mother is...",False
1633,188777643741679616,1817,8036,2012-04-07 23:57:52,Happy Easter is trending. So when I rise from ...,False
1713,182230301756489728,1516,7857,2012-03-20 22:21:04,"#ReplacePotterQuoteWithBacon: ""Do not pity the...",False
1752,173926527266861056,134,546,2012-02-27 00:24:50,"I am disappointed there is a ""dead body"" on th...",False
1846,160917485812584448,289,1693,2012-01-22 02:51:32,First sources said Joe Paterno was dead. Now t...,False
1851,160441582955405312,323,2357,2012-01-20 19:20:28,SOPA is dead. Technology rising above to beat ...,False
2063,142430282883145728,531,2588,2011-12-02 02:30:00,"#Confusingthingsthatgirlsdo: vampires. Um, the...",False
2107,139497416234778624,312,2002,2011-11-24 00:15:50,Happy Thanksgiving is trending. When celebrati...,False
2172,133699908418019328,322,884,2011-11-08 00:18:36,"""Over my dead body"" is trending... http://t.co...",False
2280,126995230770728960,423,3760,2011-10-20 12:16:37,#Gadhafi might be dead according to the US. He...,False
2342,123182153663123456,193,1311,2011-10-09 23:44:48,That moment when Helena Bonham Carter is trend...,False
2485,114302574429077504,668,4207,2011-09-15 11:40:32,Vampires VS Zombies? I pick neither.What is th...,False
2520,111932844573593600,558,2557,2011-09-08 22:44:04,#TheLastTimeIChecked having sex with a vampire...,False
2731,97853846096838656,1512,6110,2011-08-01 02:19:09,I do not fear death. I fear coming back from t...,False
2802,92391844780060672,557,3272,2011-07-17 00:35:07,#youwereonmygoodside because if you were on my...,False
2950,81047386037825536,695,4297,2011-06-15 17:16:17,"#funeralhomeslogans ""We're dead serious about ...",False
3000,77486937857994752,703,4562,2011-06-05 21:28:20,#thingsthatmakenosense The Breaking Dawn Trail...,False

*Tip*: The tweet text will be cutoff by default when print. You can change the width of columns to show the entire tweet with the following code:

In [10]:
pd.set_option("display.max_colwidth", 160)

## Questions 3 (24pts)

*Unless otherwise specified, return all columns when asked to return tweets; e.g. don't remove the id or retweets columns.*

- Q3.1 How many tweets mention "Harry Potter"? You can get the number of rows by putting your resulting dataframe inside `len(df)`. (4 pts)

In [ ]:
# Answer
answer31_number =

- Q3.2 Return the tweets that have a hashtag (assuming only word characters in hashtags). There should be 1432 rows. (6 pts)

In [ ]:
# Answer
answer32_df =

- Q3.3 Return the tweets that have at least *two* hashtags (assuming only word characters in hashtags). There should be 190 rows. (8 pts)

In [ ]:
# Answer
answer33_df =

- Q3.4 Return the tweets that mention a year in the current millenium (or something that looks like one). (6 pts)

In [107]:
# Answer
answer34_df =

(190, 6)

## Some more Pandas string methods

Counting matches in a column:

```
df['columnName'].str.count(pat)
```

Replacing a pattern with a string:

```
df['columnName'].str.replace(pat, repl)
```

## Questions 4: Other string methods and non-regex Pandas practice (20 pts)

- Q4.1 Return the 20 tweets with the most favourites. (5 pts)

In [ ]:
# Answer
answer41_df =

- Q4.2 How many total favourites do this account's first 100 tweets ever have? (5 pts)

In [ ]:
# Answer
answer42_number =

- Q4.3 What is the id of the tweet matching the following criteria: has the lowest retweet-to-favourites ratio, among tweets *without hashtags* and *with more than 1000 favourites*. (10pts)

In [ ]:
# Answer
answer43_id =